extends layout

block content
  section( #mainImage .slideImage )
    .backgroundSlideImage
      .contentContainer
        .contentOnImage
          h2= title
          p Web Developer
  section( #secondSection .slideImage )
