extends layout

block content
  section( id= "mainImage" class= "slideImage" )
    .backgroundSlideImage
      .contentContainer
        .contentOnImage
          h2= title
          p Web Developer
  section( #secondSection .slideImage )
